.products {
    @include flex-column;

    align-items: flex-start;
    width: 100%;

    &__types {
        display: flex;
        gap: 9px;
        padding: 0 0 16px;
    }

    &__type {
        padding: 12px 24px;
        border: 1px solid #e9e8e8;
        border-radius: 8px;
        color: $blue-main;
        font-size: 14px;
        line-height: 24px;
        transition: 0.1s all;
    }

    &__type:hover {
        border: 1px dashed $blue-main;
    }

    &__radio {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
    }

    &__radio + &__type {
        cursor: pointer;
    }

    &__radio:checked + &__type {
        background-color: $blue-light;
        color: $black-primary;
    }

    &__cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 330px);
        gap: 12px;
        justify-content: space-between;
    }

    &__not-found {
        padding: 24px 0;
    }
}
