.container {
    width: 1400px;
}

.link-undecorated {
    text-decoration: none;
    color: inherit;
}

.btn {
    min-width: 150px;
    font-size: 14px;
    line-height: 24px;
    font-family: inherit;
    padding: 8px 0;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer
}

.btn-blue {
    background: #2a81dd;
    color: white;
}
