.contact {
    &__desc {
        font-size: 14px;
        line-height: 24px;
    }

    &__send {
        color: $blue-main;
    }

    &__send:hover {
        color: $white;
        background-color: $blue-main;
    }
}
