.footer {
    @include flex-column;

    background-color: $black-primary;
    color: $white;
    align-items: center;
    flex-shrink: 0;

    &__wrapper {
        padding: 20px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__social {
        @include flex-column;

        align-items: flex-start;
        justify-content: space-between;
        gap: 16px;
    }

    &__contact {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__desc {
        font-size: 14px;
        line-height: 24px;
    }

    &__copyright {
        font-size: 16px;
        line-height: 24px;
    }

    &__icons {
        display: flex;
        align-items: center;
        gap: 16px;
    }
}
