@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin font-format($size: 14px, $weight: 400, $line-height: 20px) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;

}
