$blue-main: #2a81dd;
$blue-light: #d6ecfb;
$blue-darkest: #00458a;
$milk: #efe8d8;
$gray-lightest: #d4d4da;
$white-darkest: #f2f2f3;
$black-primary: #1c1819;
$payed-green: #eff8eb;
$payed-yellow: #fffae7;
$payed-blue: #e9f2fb;
$white: #fff;
$green: #64bd38;
$gray: #888b94;
